<h2>
	<%= @user.username %><br />
</h2>
Points: <%= @user.karma %><br />
<% if current_user?(@user) %>
<%= link_to "Settings", edit_user_registration_path %><br />
<% end %>
<% if current_user.try(:admin?) %>
<%= link_to "Delete", destroy_user_path, :method => :delete, :confirm => "You sure?", :title => "Delete #{@user.username}" %>
<% end %>

<div id= "user_submissions">
Submissions:	
<%= render @links %>
<%= will_paginate @links %>
</div> <!-- end of user_submissions div -->
