<%= form_for @link do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    
	<% if current_user.try(:poster?) %>
		<p><%= f.label :schedule_link, "Schedule link later?" %><br />
    <%= f.check_box :schedule_link %></p>
		
		<p><%= f.label :post_link_at, "Post link at" %><br />
	  <%= f.text_field :post_link_at %></p>
	<% end %>	
	
		<p><%= f.label :description %><br />
  	<%= f.text_field :description %></p><span id="char-count">80</span>

		<p><%= f.label :url %><br />
  	<%= f.text_field :url %></p>

    <p><%= f.submit "Submit" %></p>

<% end %>

