<%= div_for (link) do %>
<table class ="links">
	<tr>
		<td style="width:20px; text-align:right" class ="index_number">
		<%= link_counter + 1 %>.
		</td>	
		<td class ="vote_arrow">
		<% if signed_in? %>	
			<% if current_user.voted_for?(link) %>
				<%= link_to "Vote up", vote_up_link_path(link), :class => "up_arrow selected", :method => :post, :remote => true %>
			<% else %>
				<%= link_to "Vote up", vote_up_link_path(link), :class => "up_arrow", :method => :post, :remote => true %>
			<% end %>
		<% else %>	
			<%= link_to "Vote up", vote_up_link_path(link), :class => "up_arrow", :method => :post, :remote => true %>
		<% end %>
		</td>
		<td class="link_title">
			<%= link_to link.description, link.url %>
			<span class="link_domain">(<%= url=link.url;url = "http://" + link.url unless url =~ /^http/;URI.parse(url).host%>)</span>
		</td>
	</tr>	
	<tr>
		<td colspan="1">
		</td>
		<td class ="vote_arrow">
		<% if signed_in? %>	
			<% if current_user.voted_against?(link) %>
				<%= link_to "Vote down", vote_down_link_path(link), :class => "down_arrow selected", :method => :post, :remote => true %>
			<% else %>
				<%= link_to "Vote down", vote_down_link_path(link), :class => "down_arrow", :method => :post, :remote => true %>
			<% end %>
		<% else %>
			<%= link_to "Vote down", vote_down_link_path(link), :class => "down_arrow", :method => :post, :remote => true %>
		<% end %>	
		</td>
		<td class ="link_info">
			<span class="link_votes"><%= link.plusminus %> votes.</span>
			Posted by <%= link_to link.user.username, link.user %>
			<%= time_ago_in_words(link.created_at) %> ago.
		</td>
	</tr>
	<tr style="height:5px">
	</tr>
</table>
<% end %>

<!-- <a href="<%= vote_up_link_path(link) %>" class="ratelink" updown="up" theid="<%= link.id %>"><img src = "images/icons/arrow_up.png"></a> -->

<!-- <a href="<%= vote_down_link_path(link) %>" class="ratelink" updown="down" theid="<%= link.id %>"><img src = "images/icons/arrow_down.png"></a> -->