<%= div_for (link) do %>
<table class ="links">
	<tr>
		<td style="width:20px; text-align:right" class ="index_number">
		<%= @link_counter += 1 %>.
		</td>	
		<td class ="vote_arrow">
		<% if signed_in? %>	
			<% if current_user.voted_for?(link) %>
				<%= link_to "Vote up", vote_up_link_path(link), :class => "up_arrow selected", :method => :post, :remote => true %>
			<% else %>
				<%= link_to "Vote up", vote_up_link_path(link), :class => "up_arrow", :method => :post, :remote => true %>
			<% end %>
		<% else %>	
			<%= link_to "Vote up", vote_up_link_path(link), :class => "up_arrow", :method => :post, :remote => true %>
		<% end %>
		</td>
		<td class="link_title">
			<%= link_to link.description, "#{url=link.url;url = "http://" + link.url unless url =~ /^http/;url}" %>
			<span class="link_domain">(<%= url=link.url;url = "http://" + link.url unless url =~ /^http:/;URI.parse(url).host.sub(/\Awww\./, '') %>)</span>
		</td>
	</tr>	
	<tr>
		<td colspan="1">
		</td>
		<td class ="vote_arrow">
		<% if signed_in? %>	
			<% if current_user.voted_against?(link) %>
				<%= link_to "Vote down", vote_down_link_path(link), :class => "down_arrow selected", :method => :post, :remote => true %>
			<% else %>
				<%= link_to "Vote down", vote_down_link_path(link), :class => "down_arrow", :method => :post, :remote => true %>
			<% end %>
		<% else %>
			<%= link_to "Vote down", vote_down_link_path(link), :class => "down_arrow", :method => :post, :remote => true %>
		<% end %>	
		</td>
		<td class ="link_info">
			<span class="link_votes"><%= link.plusminus %> votes.</span>
			Posted by <%= link_to link.user.username, link.user %>
			<% if link.link_posted? %>
				<%= time_ago_in_words(link.post_link_at || link.created_at) %> ago.
			<% else %>
				and will go live on <%= time_tag(link.post_link_at) %>.
			<% end %>	
			<% if current_user.try(:admin?) %>
			<%= link_to "Delete", link, :method => :delete, :confirm => "You sure?", :title => "Delete #{link.description}" %>
			<% end %>
		</td>
	</tr>
	<tr style="height:5px">
	</tr>
</table>
<% end %>