<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title><%= title %></title>
		<meta charset="utf-8"/>
    <%= csrf_meta_tag %>
		<%= javascript_include_tag 'jquery', 'application' %>
		<%= render 'layouts/stylesheets' %>
  </head>
  <body>
		<%= render 'layouts/header' %>
		<div id="bodycontent">
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div> <!-- end of bodycontent div -->
  </body>
</html>