<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title><%= title %></title>
		<meta charset="utf-8"/>
    <%= csrf_meta_tag %>
		<%= javascript_include_tag 'jquery', 'application' %>
  </head>
  <body>
		<header>
			<%= render 'layouts/header' %>
		</header>
		<%= yield %>
		<%= render 'layouts/footer' %>
  </body>
</html>