<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= javascript_include_tag :defaults %>
  </head>
  <body>
		<header>
			<%= render 'layouts/header' %>
		</header>
		<%= yield %>
		<%= render 'layouts/footer' %>
  </body>
</html>